/* --- GALERIE --- */
.galerie-page {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.galerie-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-align: center;
  margin: 2rem 0;
  text-shadow: 0 0 20px rgba(0, 200, 255, 0.896),
    0 0 40px rgba(0, 242, 255, 0.895);
  font-family: "Cinzel", serif;
  z-index: 2;
}

/* --- FULLSCREEN GRID --- */
.galerie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  width: 100vw;
  min-height: 100vh;
  gap: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.galerie-item {
  position: relative;
  overflow: hidden;
}

.galerie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease, filter 0.4s ease;
  transform-origin: center;
}

.galerie-item:hover {
  z-index: 10;
}

.galerie-item:hover .galerie-image {
  transform: scale(1.1);
}

/* --- Адаптив --- */
@media (max-width: 1024px) {
  .galerie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .galerie-grid {
    grid-template-columns: 1fr;
  }

  .galerie-title {
    font-size: 3rem;
  }
}

.gallery-icon {
  justify-content: center;
  gap: 25px;
  margin-top: 1px;
  bottom: 5px;
  margin-bottom: 5px;
}

.gallery-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(90deg, #4b6bb72f, #2fc1ff34);
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.2);
  margin-bottom: 5px;
}

.gallery-icon a svg {
  width: 35px;
  height: 35px;
}

.gallery-icon a:hover {
  background-color: rgba(100, 224, 255, 0.338);
  box-shadow: 0 0 25px rgba(173, 216, 230, 0.9),
              0 0 50px rgba(150, 200, 255, 0.8);
  transform: scale(1.1);
  transition: 0.8s;
}

.tittle-insta {
  text-align: center;
  display:grid;
  grid-column: 2;
  margin-top: 30px;
  font-size: 1.2rem;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-weight: bolder;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(0, 200, 255, 0.5);
  }
  to {
    text-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
  }
}
